* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



html {
    max-width: 100%;
    overflow-x: hidden
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    width: 90%;
    height: 100%;
    vertical-align: baseline;
}


h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 100%;
    align-items: flex-end;
    margin-top: 2.5%;
}

.logo {
    padding-left: 5%;
    width: 100%;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    white-space: nowrap;
    list-style: none;
}

nav li {
    justify-items: space-between;
    padding-bottom: 0;
    padding-right: 5%;
    align-items: flex-end;

}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

#feature {
    padding: 5%;
    padding-top: 0;
    margin: 0;
    width: 100%;
}

#feature ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    margin: 0;
    padding: 2.5%;
}

#feature li:first-child {
    grid-column: span 3;
}

#feature img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#feature h1 {
    font-weight: normal;
    white-space: nowrap;
    margin-bottom: 2.5%;
}

#feature h3 {
    margin: 0;
}

#feature p:first-of-type {
    margin-top: 0;
}

#feature .card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 2.5% 2.5% 2.5%;
}

.button {
    background-color: #000;
    font-weight: 500;
    border: none;
    color: white;
    padding: 2.5% 5%;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

#behind-the-dough {
    background-color: #f8fafc;
    padding: 5%;
    margin: 0;
    width: 100%;
}

#behind-the-dough h2 {
    text-align: center;

}

#testimonials {
    background-color: #000;
    color: #fff;
    padding: 5%;
    width: 100%;
}

#testimonials h2 {
    text-align: center;
}

#testimonials p:nth-of-type(2) {
    font-style: italic;
    padding-bottom: 10%;
}

#testimonials p:nth-of-type(4) {
    font-style: italic;
    padding-bottom: 10%;
}

#testimonials p:nth-of-type(6) {
    font-style: italic;
    padding-bottom: 10%;
}

#try-it-with {
    padding: 5%;
    width: 100%;
    margin: 0;
}

#try-it-with h2 {
    text-align: center;
    padding: 5%;
}

#try-it-with ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

#try-it-with article {
    background-color: #f8fafc;
    border-radius: 10px;
    white-space: nowrap;
    align-items: center;
}

#try-it-with h3 {
    text-align: center;
    width: 100%;
}

#try-it-with p {
    padding-bottom: 10%;
    text-align: center;
}

#try-it-with img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 2.5%;
    text-align: center;
    width: 105%;
    margin: 0;
    white-space: nowrap;
    font-size: 0.7rem;
}

@media (min-width: 768px) {



    header {
        height: 62PX;
        min-width: 768px;
        align-items: right;
        margin-right: 0;
        margin-left: 0;

    }

    .logo {
        width: 55%;
        padding-left: 3.5%;
    }

    nav ul {
        justify-content: end;
        padding-right: 2.5%;
        padding-left: 2.5%;
        margin-right: 0;
    }

    #feature ul {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    #feature li:first-child {
        grid-column: span 1;
    }

    #feature .card div:nth-of-type(2) {
        margin-top: 1.5%;
    }

    .button {
        padding: 1% 2% 1% 2%;
    }


    .behind {
        display: flex;
        align-items: baseline;
    }

    .behind div {
        flex: 1;
        padding: 2.5%;
    }

    .testimonials {
        display: flex;
        justify-content: space-between;
    }

    .testimonials div {
        flex: 1;
        padding: 2.5%;
    }

    #try-it-with h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 3%;
    }

    #try-it-with ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

}

@media (min-width: 960px) {

    html {
        max-width: 1200px;
    }

    body {
        vertical-align: baseline;
    }


    header {
        height: 62PX;
        min-width: 960px;
        align-items: right;
        margin-right: 0;
        margin-left: 0;

    }

    .logo {
        width: 55%;
        padding-left: 3.25%;
    }

    nav ul {
        justify-content: end;
        padding-right: 2.5%;
        padding-left: 2.5%;
        margin-right: 0;
    }

    .feature {
        display: flex;
        flex-direction: row;
        max-height: 500px;
    }

    .card {
        display: block;
        width: min-content;
        margin: auto;
        padding-bottom: 100%;
        align-self: stretch;

    }

    .card h1 {
        margin-top: 5%;
    }

    .card p {
        font-size: 0.80rem;
        line-height: 1.7;

    }

    .card div {
        min-width: 0;

    }

    .feature ul {
        height: min-content;
        max-width: 500px;
    }

    .feature ul li {
        padding: 0;


    }

    #feature img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        justify-items: center;
    }
}